In [ ]:
# Lab Cleaning Numerical Data

In [22]:
#1 Import the necessary libraries.
#2 Load the we_fn_use_c_marketing_customer_value_analysis.csv into the variable customer_df.

import pandas as pd

customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [26]:
#3. First look at its main features (head, shape, info).

customer_df.shape # 9134 rows, 24 columns
customer_df.info # not really useful
customer_df.head(25)

pd.set_option('display.max_columns', None)

In [24]:
#4 Rename the columns so they follow the PE8 (snake case).

customer_df.columns = list(map(lambda x: x.lower(), customer_df.columns)) # Lowercase first
customer_df.columns = list(map(lambda x: x.replace(' ','_'), customer_df.columns)) # Underscores next

In [36]:
#5 Change effective to date column to datetime format.

customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'])
customer_df.dtypes # it worked!

customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                   int64
months_since_policy_inception             int64
number_of_open_complaints                 int64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
dtype: object

In [37]:
#6 Check NaN values per column.

customer_df.isna().sum() # No NaNs, magic

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [110]:
#7 Define a function that differentiates between continuous and discrete variables. 
# Hint: A number of unique values might be useful. 
# Store continuous data into a continuous variable and do the same for discrete and categorical.

# First, num/categorical split

categorical = customer_df.select_dtypes(include='object')
numerical = customer_df.select_dtypes(include=['number', 'datetime'])

#Now the continuous vs. discrete split

def cd_split():
    distribution = {}
    
    for column in numerical.columns:
        distribution[column] = len(customer_df[column].value_counts())
    
    return display(distribution)

cd_split() # it seems that number_of_open_complaints and number_of_policies could be discrete, rest is continuous

numerical_discrete = numerical[['number_of_open_complaints','number_of_policies']]
numerical_cont = numerical.drop(['number_of_open_complaints','number_of_policies'], axis = 1)

{'customer_lifetime_value': 8041,
 'effective_to_date': 59,
 'income': 5694,
 'monthly_premium_auto': 202,
 'months_since_last_claim': 36,
 'months_since_policy_inception': 100,
 'number_of_open_complaints': 6,
 'number_of_policies': 9,
 'total_claim_amount': 5106}

In [115]:
#8 For the categorical data, check if there is some kind of text in a variable so we would need to clean it. 
# Hint: Use the same method you used in step 7. Depending on the implementation, decide what to do with the variables you get.

def cat_split():
    distribution = {}
    
    for column in categorical.columns:
        distribution[column] = len(customer_df[column].value_counts())
        print(customer_df[column].value_counts())
    
    return display(distribution)

cat_split()

KN27565    1
WN91223    1
TA66375    1
KA62636    1
PN35535    1
          ..
GJ63103    1
BC77846    1
WZ61178    1
LE26899    1
RP98585    1
Name: customer, Length: 9134, dtype: int64
California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64
No     7826
Yes    1308
Name: response, dtype: int64
Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64
Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64
F    4658
M    4476
Name: gender, dtype: int64
Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64
Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64
Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64
Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64
Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64
Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

{'customer': 9134,
 'state': 5,
 'response': 2,
 'coverage': 3,
 'education': 5,
 'employmentstatus': 5,
 'gender': 2,
 'location_code': 3,
 'marital_status': 3,
 'policy_type': 3,
 'policy': 9,
 'renew_offer_type': 4,
 'sales_channel': 4,
 'vehicle_class': 6,
 'vehicle_size': 3}

In [116]:
#9 Get categorical features.

categorical

# In essence, all categoricals could be used for the modelling at this stage

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [ ]:
#10 What should we do with the customer_id column?

# It should not be used in the modelling, as it is a unique field. Whether or not it should be dropped from a dataframe/dataset,
# this would depend on whether or not we need to identify a specific customer post-model creation.